h2 {
    font-size: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.literal-rock1 {
    position: absolute;
    width: 20%;
    height: 30%;
    left: 5%;
}


.literal-rock2 {
    position: absolute;
    width: 20%;
    height: 30%;
    right: 5%;
}

.workout-list {
    position: absolute;
    background-color: #C4C4C4;
    height: 120%;
    width: 20%;
    /* height: 40vh; */
    /* width: 20vw; */
    top: 25%;
    left: 10%;
    border: thin solid black;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.workout-list > ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

#workout-unordered-list > li {
    border-bottom: thin solid black;
    line-height: 30px;
    cursor: pointer;
}

#workout-unordered-list > li:hover {
    cursor: pointer;
    background-color: #6E6E6E;
}

#workout-list-title {
    font-weight: bold;
    border-bottom: thin solid black;
    line-height: 30px;
}

.workout-information {
    position: absolute;
    background-color: #C4C4C4;
    height: 70%;
    width: 30%;
    top: 75%;
    left: 35%;
    border: thin solid black;
}

.workout-options {
    position: absolute;
    background-color: #C4C4C4;
    height: 70%;
    width: 20%;
    top: 75%;
    left: 70%;
    border: thin solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

.workout-planner {
    position: absolute;
    background-color: #C4C4C4;
    height: 45%;
    width: 50%;
    bottom: 30%;
    left: 40%;
    border: thin solid black;
}

.workout-filters {
    position: absolute;
    background-color: #C4C4C4;
    width: 20%;
    bottom: 60%;
    left: 10%;
    border: thin solid black;
    border-bottom: none;
}

#profile-search-container {
    position: absolute;
    bottom: 78%;
    left: 60%;
}

.planner-item {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 45vh;
    width: 7vw;
}

.planner {
    width: 65vw !important;
    padding-left: 5% !important;
    margin-top: 5% !important;
}

.filter-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.filter-list > li {
    border-bottom: thin solid black;
    line-height: 30px;
    cursor: pointer;
}

.filter-list > li:hover {
    cursor: pointer;
    background-color: #6E6E6E;
}

#filter-title {
    font-weight: bold;
    border-bottom: thin solid black;
    line-height: 30px;
}

.profile-search-results {
    background-color: #B11010;
    font-size: 11px;
    position: absolute;
    left: 110%;
    top: -80%;
    border: thin solid black;
    width: 100%;
}

.profile-search-results > ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.profile-list {
    display: inline-block;
}